<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Estructura</h2>
    
    <h3>Datos Básicos</h3>
    <ul>
      <li>Nombre: {{.Nombre}}</li>
      <li>Edad: {{.Edad}}</li>
      <li>Perfil: {{.Perfil}}</li>
    </ul>

    <h3>Habilidades</h3>
    <ul>
    {{range .Habilidades}}
      <li>{{.Nombre}}</li>
    {{end}}
    </ul>

    <h3>Condiciones</h3>
    {{if ge .Edad 18}}
      <p>Es mayor de edad</p>
    {{else}}
      <p>Es menor de edad</p>
    {{end}}

    {{if eq .Perfil 1}}
      <p>Es perfil 1</p>
    {{end}}
  </body>
</html>
